{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="background"></div>
  <div class="overlay"></div>

  <main class="container ">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h3 class="text-center">Portfolio</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- card 1 -->
    <div class="card row">
      <div class="card-image col s12 m6">
        <img src="{% static 'img/eg1.jpg' %}" alt="Example 1">
      </div>
      <div class="card-content col s12 m6">
        <span class="card-title">Artwork Commission</span>
        <p>This is a piece of artwork commissioned for a project. We think it looks great and you should too.</p>
      </div>
    </div>
    <!-- card 2 -->
    <div class="card row">
      <div class="card-content col s12 m6">
        <span class="card-title">Another Artwork</span>
        <p>Here is another commision for a set of matching items. Another fantastic project.</p>
      </div>
      <div class="card-image col s12 m6">
        <img src="{% static 'img/eg5.jpg' %}" alt="Example 2">
      </div>
    </div>
    <!-- card 3 -->
    <div class="card row">
      <div class="card-image col s12 m6">
        <img src="{% static 'img/eg3.jpg' %}" alt="Example 3">
      </div>
      <div class="card-content col s12 m6">
        <span class="card-title">Colorful Bown</span>
        <p>I'm not sure why someone commissioned us to design colours to put around a bowl, but the world is an odd place.</p>
      </div>
    </div>
    <!-- card 4 -->
    <div class="card row">

      <div class="card-content col s12 m6">
        <span class="card-title">Colourful Cards</span>
        <p>Here are some colour/color swatches that we designed for people who like color/colour swatches. Very colo(u)rful.</p>
      </div>
            <div class="card-image col s12 m6">
        <img src="{% static 'img/eg4.jpg' %}" alt="Example 4">
      </div>
    </div>


  </main>

{% endblock content %}