{% extends 'base.html' %} {% block content %}
<div class="background"></div>
<div class="overlay"></div>

<main class="container splash-container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h1 class="text-center">Designr</h1>
        </div>
        <div class="card-action text-center cta red darken-2">
          <a class="white-text" href="{% url 'portfolio' %}"
            >Check out our portfolio!</a
          >
          {% if not request.user.is_authenticated %} 
          <p class="white-text">Create an account to see full range of services and place an order with us!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
