<!-- Home Link -->
<li
    {% if '/' == request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="{% url 'index' %}">Home</a>
</li>

<!-- Portfolio Link -->
<li
    {% if 'portfolio' in request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="{% url 'portfolio' %}">Portfolio</a></li>

<!-- Services Link -->
<li
    {% if 'services' in request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="{% url 'services' %}">Services</a></li>



<!-- Cart Link -->
<li
    {% if 'cart' in request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="{% url 'cart' %}">Cart</a></li>

<!-- Account Link -->
<li
    {% if 'account' in request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="#">Account</a></li>


<!-- My Designs Link -->
<li>
  <a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
  <form action="{% url 'account_logout' %}" method="POST" id="logout">{% csrf_token %}</form>
</li>