<footer class="page-footer red darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul class="social">
          <li><a class="grey-text text-lighten-3" href="{% url 'about' %}">About</a></li>

        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul class="social">
          <!-- links for demonstration purposes only. Not intended to link to my personal profiles -->
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="http://facebook.com"><i class="fab fa-facebook"></i></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="http://instagram.com"><i class="fab fa-instagram"></i></a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" rel="noopener noreferrer" href="http://twitter.com"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; <span id="year"></span> Bryan S Mullen

    </div>
  </div>
</footer>
