<!-- Portfolio Link -->
<li
    {% if 'portfolio' in request.path %}
      class="active"
    {% else %}
      class=""
    {% endif %}
><a href="{% url 'portfolio' %}">Portfolio</a></li>

<!-- Blog Link -->
<li
  {% if 'blog' in request.path %}
    class="active"
  {% else %}
    class=""
  {% endif %}
><a href="{% url 'blog_entry_list' %}">Blog</a></li>

<!-- Register Link -->
<li
  {% if 'register' in request.path %}
    class="active"
  {% else %}
    class=""
  {% endif %}
><a href="{% url 'account_signup' %}">Register</a></li>

<!-- Login Link -->
<li
  {% if 'login' in request.path %}
    class="active"
  {% else %}
    class=""
  {% endif %}
><a href="{% url 'account_login' %}">Login</a></li>

