@font-face {
    font-family: Lobster;
    src: url('/static/fonts/Lobster/Lobster-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf');
}

* {
    font-family: Montserrat;
}
#header, div.breadcrumbs, .module h2, .module caption, .inline-group h2, #nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited, .button.default, input[type=submit].default, .submit-row input.default {
    background-color: #C62828;
    color: white;
}

#branding h1 {
    color: white;
    font-family: Lobster;
}


#nav-sidebar .current-model{
    background-color: #C62828;
    color: white;
}


.current-model a:link, .current-model a:visited{
    background-color: #C62828;
    color: white;
}