{% extends 'base.html' %} {% load static %} {% block content %}

<div class="background"></div>
<div class="overlay"></div>

<main class="container splash-container">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <h1 class="text-center">My Designr Blog</h1>
        </div>

        {% for blog in blog_entries %}

        <div class="card-content text-center cta red darken-3 white-text">
          <a class="white-text" href="{% url 'blog_detail' blog_id=blog.id %}">
            <h4>{{blog.title}}</h4>
          </a>

          {% if request.user.is_staff %}

          <a class="white-text" href="{% url 'blog_edit' blog_id=blog.id %}">
            <i class="fas fa-edit"></i>
          </a>
          <a class="white-text" href="{% url 'blog_delete' blog_id=blog.id %}">
            <i class="fas fa-trash"></i>
          </a>
          {% endif %}
          <p>{{blog.content}}</p>
          <p><small>Posted by: {{blog.author}}</small></p>
          <p><small>{{blog.date_entered}}</small></p>
        </div>
        <hr />
        {% endfor %}
        {% if request.user.is_staff %}
        <a href="{% url 'blog_new' %}" class="btn red darken-4"
          >New Blog Entry</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock content %}
