{% extends 'base.html' %}

{% block content %}
  <div class="background"></div>
  <div class="overlay"></div>

  <main class="container splash-container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <h1 class="text-center">About</h1>
            <div class="text-center">
              <p><span class="bold">Version: </span>1.0.0</p>
              <p><span class="bold">Designed & Developed: </span>Bryan Mullen</p>
            </div>

          </div>
          <div class="card-action text-center cta red darken-2">
            <a class='white-text' href="https://www.linkedin.com/in/bryansmullen/" target='_blank' rel="noopener noreferrer">Hire Me!</a>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}